*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(12, 12, 12);
    text-decoration: none;

}